
<div ng-cloak style="width:350px;margin:100px">
    <div class="panel panel-sl panel-condensed cc-chat-container">
        <div ng-show="!cs.connected" class="panel-heading">
            <i class="fa fa-spinner fa-spin"></i> Загрузка
        </div>
        <div class="panel-heading text-center text-sl" ng-class="(!chat.open && tabs.new.length)?'blink-yellow':''" ng-show="cs.connected">
            Online-Чат ({{cs.user.roleName}}) <a class="pull-right fa" ng-class="chat.open?'fa-window-minimize':'fa-window-maximize'"
                                                 ng-click="toggleWnd()" style="text-decoration:none;color:#ffffff" href="javascript:void(0)"></a>
        </div>
        <div class="panel-body text-danger" ng-if="cs.connected && !chat.open && tabs.new.length">
            <span ng-show="tabs.new.length==1" ng-click="openDialog(tabs.new[0])">Получено новое сообщение {{tabs.new[0].login}}</span>
            <span ng-show="tabs.new.length>1">Получены новые сообщения</span>
        </div>
        <div class="panel-body"  ng-if="cs.connected && chat.open">
            <ul class="nav nav-tabs nav-condensed" style="margin-bottom: 3px">
                <li role="presentation" ng-class="chat.contactTab=='last'?'active':''"><a href="javascript:void(0)" ng-click="chat.contactTab='last'">Последние</a></li>
                <li role="presentation" ng-class="chat.contactTab=='all'?'active':''"><a href="javascript:void(0)" ng-click="chat.contactTab='all'">Все</a></li>
                <li role="presentation" ng-class="chat.contactTab=='group'?'active':''" ng-if="cs.user.role=='admin'"><a href="javascript:void(0)" ng-click="chat.contactTab='group'">Группы</a></li>
            </ul>
            <ul class="list-group list-group-condensed" style="max-height: 150px;overflow: auto;margin:0" ng-if="chat.contactTab!='group'">
                <li class="list-group-item" ng-repeat="i in tabs[chat.contactTab] track by i.userId"
                    ng-class="(cs.dialog && cs.dialog.userId==i.userId)?'list-group-item-success':''"
                    ng-click="openDialog(i)">
                    {{i.login}} <i ng-show="i.hasNew" class="glyphicon glyphicon-envelope pull-right blink-green"></i>
                </li>
            </ul>
            <ul class="list-group list-group-condensed" style="max-height: 150px;overflow: auto;margin:0" ng-if="chat.contactTab=='group'">
                <li class="list-group-item" ng-repeat="i in tabs.group track by i.id"
                    ng-class="chat.broadcast.id==i.id?'list-group-item-success':''"
                    ng-click="openGroup(i)">
                    {{i.login}} <i ng-show="i.new" class="glyphicon glyphicon-envelope pull-right blink-green"></i>
                </li>
            </ul>
        </div>
        <div class="panel-heading" ng-if="cs.connected && chat.open && cs.dialog">
            Разговор с {{cs.dialog.login}} ({{cs.dialog.userName}})
        </div>
        <div class="panel-body" style="max-height:150px;position: relative;overflow: auto" ng-if="cs.connected && chat.open && cs.dialog" id="dialog_messages">
            <p ng-repeat="i in cs.dialog.history|orderBy:'time'" ng-class="i.from==cs.user.id?'my-replica':'replica'"><small>{{i.time | shortDate}}</small> {{i.text}}</p>
            <p class="typing-notification" ng-if="cs.dialog.typing"><i class="glyphicon glyphicon-pencil"></i> {{cs.dialog.userName}} печатает...</p>
        </div>
        <div class="panel-body" ng-if="cs.connected && chat.open && cs.dialog">
            <form novalidate>
                <input name="chat_input" type="text" ng-model="chat.dialogText" style="width:100%;border:none;
                    background-color: #F5F5F5;" maxlength="255" autocomplete="off"
                       ng-keyup="$event.keyCode == 13?sendMsg():typing()">
            </form>
        </div>
        <div class="panel-heading" ng-if="cs.connected && chat.open && chat.broadcast">
            Рассылка группе {{chat.broadcast.login}}
        </div>
        <div class="panel-body" ng-if="cs.connected && chat.open && chat.broadcast">
            <form novalidate>
                <textarea name="broadcast_input" class="form-control" rows="6" ng-model="chat.broadcastText"></textarea>
                <button type="button" class="btn btn-sl btn-sm" ng-click="broadcast()" ng-disabled="!chat.broadcastText.length">Отправить</button>
            </form>
        </div>
    </div>

</pre>
</div>